@theme inline {
  --color-primary: #0a4174;
  --color-secondary: #26658c;
  --color-blue-dark: #0f2c4b;

  --color-bg-primary: #fff;
  --color-bg-secondary: #f5f5f5;

  --color-hd-primary: #0a4174;
  --color-hd-secondary: #26658c;
}
